<li>
<p>
    <% if((locals.user && locals.user.id==comment.user.id) || (locals.user && locals.user.id==post.user.id)){ %>
        <small><!--here call ?ok//how?-->
           
            <a href="/comments/destroy/?commentId=<%= comment.id %>&postAuthor=<%= post.user.id  %>">X</a>
        </small>
    <% } %>
    <%= comment.content %>
    <br>
    <small>
        <%= comment.user.name %> 
    </small>
</p>

</li>
