<footer>
    <div>
        <div id="bruh">@CODIAL LICENSE</div>
        <div id="yeet">
            <% if(locals.user){ %>
                <a href="/"> HOME</a>
                <a href="/users/profile/<%=user.id%>"> PROFILE</a>
                
            <%} else{%>
                <a href="/"> HOME</a>
            <%}%>
            
        </div>
    </div>
    
</footer>