<footer>
    <div>
        <div id="bruh">@CODIAL LICENSE</div>
        <div id="yeet">
            <a href="/"> HOME</a>
            <a href="/users/profile"> PROFILE</a>
        </div>
    </div>
    
</footer>