footer{

    div{
        height: 10%;
        background-color:  rgb(66,103,178);
        display: flex;
          
        }
        #bruh{
            text-align: center;
            font-size: 30px;
            color: white;
            font-weight:lighter;
            vertical-align: middle;
            margin-right: 10px;
        }
        #yeet{
            display: flex;
            flex-direction: column;
            a{
                text-align: center;
                font-size: 20px;
                color: white;
                font-weight:lighter;
                
            }
            a:link {
                text-decoration: none;
            }
            a:hover {
                color: black;
            }
        }
        
        
    
}