#headeri{
   
    list-style: none;
    height: 10%;
    background-color: rgb(66,103,178);
    div{
        display: flex;
        justify-content: space-between;
        
        #tagn{
            text-align: center;
            font-size: 60px;
            color: white;
            font-weight:lighter;
            vertical-align: middle;

        }
        #tagm{
            display: flex;
            flex-direction: row ;
            justify-content: space-between;
            margin-right: 20px;
            margin-top: 20px;
            a{
                text-align: center;
                font-size: 20px;
                color: white;
                font-weight:lighter;
                
                
                
            }
            a:link {
                text-decoration: none;
            }
            a:hover {
                color: black;
            }

        }
        
        
    }
    
}
